<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.3.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.3.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="9.0.10" targetFramework="net48" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>